# App

# Mode of the application.
# Test mode is used for testing and development, while production mode is used for deployment. 
# Test mode will appear more logs needed for debugging in server console. 
# Production mode will have less logging and more security and optimization
APP_MODE=VALUE

# Database

# Database user created especially for this application.
# DO NOT USE YOUR ROOT USER FOR THIS APPLICATION, IT CAN CAUSE SECURITY ISSUES AND DATA LOSS.
DB_USER=VALUE
# Password of database user. Make sure to use a strong password and do not share it with anyone.
DB_PASSWORD=VALUE
# Host of the database server. 
# If you are running the database server on the same machine as the application, you can use localhost or 127.0.0.1
DB_HOST=VALUE
# Port of the database server. The default port for MySQL is 3306, but it can be different if you have changed it during installation.
DB_PORT=VALUE

# We recommended to use a separate database for logs to avoid performance issues and data loss in case of database corruption.

# Main database contains users, ranks, badges, bans and other important data of the application.
DB_MAIN_NAME=VALUE
# Logs database contains logs of the application, such as user actions, errors, and other events.
DB_LOGS_NAME=VALUE

# Auth

# Secret key used for signing JWT tokens. Make sure to use a strong and unique secret key and do not share it with anyone.
JWT_SECRET=VALUE

# OAuth

# Discord is used to link user accounts with discord accounts and to allow users to login with their discord accounts. 
# You can make a discord application on Discord Developer Portal https://discord.com/developers/applications

# Client ID of the discord application. You can find it on the General Information page of your discord application.
DISCORD_CLIENT_ID=VALUE
# Client Secret of the discord application. You can find it on the Bot page of your discord application. 
# Make sure to keep it secret and do not share it with anyone.
DISCORD_CLIENT_SECRET=VALUE
# Redirect URI is the URL where the user will be redirected after he linked his discord account on your local machine with APP_MODE = test.
DISCORD_LOCAL_REDIRECT_URI=VALUE_URL
# Redirect URI is the URL where the user will be redirected after he linked his discord account on your production machine with APP_MODE = production.
DISCORD_PRODUCTION_REDIRECT_URI=VALUE_URL