name: Deploy Go Backend

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.6"

      - name: Build Go binary
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o be-go-flush ./cmd
        continue-on-error: true

      - name: Copy binary to server
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "be-go-flush"
          target: "${{ secrets.APP_PATH }}/be-go-flush"

      - name: Restart backend on server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.APP_PATH }}
            pkill -f be-go-flush || true
            nohup ./be-go-flush > app.log 2>&1 &

      - name: Send Discord notification
              run: |
                if [ ${{ steps.build.outcome }} == 'success' ]; then
                  COLOR=3066993
                  TITLE="✅ backend has been deployed!"
                  DESCRIPTION="new build has been successfully deployed on the server"
                else
                  COLOR=15158332
                  TITLE="❌ deploy error!"
                  DESCRIPTION="backend building has finished with error"
                fi

                LOG_CONTENT=$(head -c 1000 build.log | sed 's/"/\\"/g')

                curl -H "Content-Type: application/json" \
                  -X POST \
                  -d '{
                    "embeds": [
                      {
                        "title": "'"$TITLE"'",
                        "description": "'"$DESCRIPTION"'",
                        "color": '"$COLOR"',
                        "fields": [
                          {
                            "name": "commit",
                            "value": "'"$GITHUB_SHA"'",
                            "inline": true
                          },
                          {
                            "name": "author",
                            "value": "'"$GITHUB_ACTOR"'",
                            "inline": true
                          },
                          {
                            "name": "repository link",
                            "value": "'"$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/commit/$GITHUB_SHA"'"
                          },
                          {
                            "name": "build log (not fully)",
                            "value": "'"${LOG_CONTENT}"'"
                          }
                        ],
                        "timestamp": "'"$(date -u +"%Y-%m-%dT%H:%M:%SZ")"'"
                      }
                    ]
                  }' \
                  ${{ secrets.DISCORD_WEBHOOK }}